{% extends 'base.html '%}

{% block title %}
{{post.title}}
{% endblock %}

{% block content %}

<style>
  @media screen and (min-width: 600px) {
    .children form {
      margin-left: -48px;
      /* will touch very left side */
    }

    .children .children form {
      margin-left: -96px;
      /* will touch very left side */
    }
  }
</style>


<div class="container">
    <div class="row justify-content-md-center pt-5">
        <div class="col-md-8">

            <div class="col-12">
                <h1>{{post.title}}</h1>
            </div>

            <div class="col-12">
                <p>{{post.content | linebreaks}}</p>
            </div>


            <div class="col-md-12">
                {% with comments.count as total_comments %}
                <h2>
                    {{ total_comments }} comment{{total_comments | pluralize}}
                </h2>
                {% endwith %}

                {% load mptt_tags %}

                <div>
                    {% recursetree comments %}
                    <div id="{{node.id}}" class="my-2 p-2" style="border: 1px solid grey">
                        <div class="d-flex justify-content-between">By {{ node.name }}<div></div>{{ node.publish }}</div>
                        <div id="{{node.id}}">{{ node.content }}</div>
                        <!-- <div> node.level </div> -->
                        </hr>
                        {% if node.level < 3 %}
                        <button class="button" onclick="myFunction({{node.id}})">Reply</button>
                        {% endif %}
                    </div>

                    {% if not node.is_leaf_node %}
                        <div class="children pl-2 pl-md-5">
                            {{children}}
                        </div>
                    {% endif %}
                    {% endrecursetree %}
                </div>


                <h2>Make a new comment</h2>

                <form action="." id="myForm" method="POST">
                    {{comment_form.as_p}}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
  function formExit() {
    document.getElementById("newForm").remove();
  }

  function myFunction(id) {
    if (document.contains(document.getElementById("newForm"))) {
      document.getElementById("newForm").remove();
    }

    var d1 = document.getElementById(id);
    d1.insertAdjacentHTML('afterend',
      '<form id="newForm" class="form-insert py-2" method="post"> \
                <div class="d-flex justify-content-between"><h2>Reply:</h2><div><button type="button" class="btn btn-outline-secondary" onclick="formExit()"">Close</button></div></div> \
                <label for="id_name">Name:</label> \
                <input type="text" name="name" class="col-sm-12" maxlength="50" required="" id="id_name">\
                <select name="parent" class="d-none" id="id_parentt"> \
                <option value="' + id + '" selected="' + id + '"></option> \
                </select> \
                <label for="id_email">Email:</label> \
                <input type="text" name="email" class="col-sm-12" maxlength="254" required="" id="id_email"> \
                <label for="id_content">Content:</label> \
                <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
                {% csrf_token %} \
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button> \
              </form>');

    //document.querySelector('#id_parentt [value="' + id + '"]').selected = true;
  }

  $('#myForm').trigger("reset");
</script>
{% endblock %}



    